

img{
    margin-bottom: auto;
    width: 40rem;
    height: 20rem;
    margin-left: 40rem;
}

h1{
    text-align: center;
    color: darkorchid;
}

h2{
    text-align: center;
}
p{
    text-align: center;
    color: blue;
}
body{
    background-color:springgreen
}


h5{
    text-align: center;
    font-size: 1.50rem;
}

footer{
    background-color: blueviolet;
}


ul,
a{
    text-align: center;
    margin-right: 60rem;
}

h3{
    font-size: 3rem;
    color: white;
}

nav{
    background-color: blueviolet;
    margin-top: -3rem;
    font-size: 4rem;
}

a{
    margin-left: 90rem;
    color: white;
}